cvxpy==1.2.0
cycler==0.11.0
ecos==2.0.10
fonttools==4.33.3
kiwisolver==1.4.2
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.6
osqp==0.6.2.post5
packaging==21.3
Pillow==9.1.0
pybind11==2.9.2
pyclothoids==0.1.4
pyparsing==3.0.8
python-dateutil==2.8.2
qdldl==0.1.5.post2
scipy==1.8.0
scs==3.2.0
six==1.16.0
cvxpy==1.2.0
-e git+https://github.com/f1tenth/f1tenth_gym.git#egg=f110_gym