-e git+https://github.com/f1tenth/f1tenth_gym.git@v1.0.0#egg=f110_gym
cvxpy
cycler
ecos
fonttools
kiwisolver
llvmlite
matplotlib
numba
numpy
osqp
packaging
Pillow
pybind11
pyclothoids
pyparsing
python-dateutil
qdldl
scipy
scs
six
cvxpy
pyyaml